In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('Pune_house_data.csv')

In [5]:
data.shape

(13320, 9)

In [6]:
data.info

<bound method DataFrame.info of                   area_type   availability       size  society total_sqft  \
0      Super built-up  Area         19-Dec      2 BHK   Coomee       1056
1                Plot  Area  Ready To Move  4 Bedroom  Theanmp       2600
2            Built-up  Area  Ready To Move      3 BHK      NaN       1440
3      Super built-up  Area  Ready To Move      3 BHK  Soiewre       1521
4      Super built-up  Area  Ready To Move      2 BHK      NaN       1200
...                     ...            ...        ...      ...        ...
13315        Built-up  Area  Ready To Move  5 Bedroom  ArsiaEx       3453
13316  Super built-up  Area  Ready To Move      4 BHK      NaN       3600
13317        Built-up  Area  Ready To Move      2 BHK  Mahla T       1141
13318  Super built-up  Area         18-Jun      4 BHK  SollyCl       4689
13319  Super built-up  Area  Ready To Move      1 BHK      NaN        550

       bath  balcony   price         site_location
0       2.0      1.0   39.07           Alandi Road
1       5.0      3.0  120.00       Ambegaon Budruk
2       2.0      3.0   62.00            Anandnagar
3       3.0      1.0   95.00                 Aundh
4       2.0      1.0   51.00            Aundh Road
...     ...      ...     ...                   ...
13315   4.0      0.0  231.00                Pashan
13316   5.0      NaN  400.00             Paud Road
13317   2.0      1.0   60.00              Pirangut
13318   4.0      1.0  488.00          Prabhat Road
13319   1.0      1.0   17.00  Pune Railway Station

[13320 rows x 9 columns]>

In [7]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
********************
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64
********************
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64
********************
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64
********************
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64
********************
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64
********************
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
********************
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64
********************
Alandi Road            139
Kalyani Nagar          139
Mahatma Gandhi Road    139
Lulla Nagar            139
Laxmi Road             139
                      ...
Sadashiv Peth          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: site_location, Length: 97, dtype: int64
********************

In [8]:
data.isna().sum()

area_type           0
availability        0
size               16
society          5502
total_sqft          0
bath               73
balcony           609
price               0
site_location       1
dtype: int64

In [9]:
data.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [10]:
data.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [11]:
data['site_location'].value_counts()

Alandi Road            139
Kalyani Nagar          139
Mahatma Gandhi Road    139
Lulla Nagar            139
Laxmi Road             139
                      ...
Sadashiv Peth          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: site_location, Length: 97, dtype: int64

In [12]:
data['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [13]:
data['size'] = data['size'].fillna('2 BHK')

In [14]:
data['bath'] = data['bath'].fillna(data['bath'].median())

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   size           13320 non-null  object
 1   total_sqft     13320 non-null  object
 2   bath           13320 non-null  float64
 3   price          13320 non-null  float64
 4   site_location  13319 non-null  object
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [16]:
data['bhk']= data['size'].str.split().str.get(0).astype(int)   #extract element from each component at specified position
    # to cast a pandas object to a specified dtype

In [17]:
data[data.bhk>20]

            size total_sqft  bath  price  site_location  bhk
1718      27 BHK       8000  27.0  230.0  Uruli Devachi   27
4684  43 Bedroom       2400  40.0  660.0  Salunke Vihar   43

In [18]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [19]:
def convertRange(x):
    
    temp =x.split('-')
    if len(temp) == 2: #if we get two values then
        return (float(temp[0]) + float(temp[1]))/2 # conveting into float and finding mean
    try:
        return float(x) #if we get only one value (not range ) then will return that value
    except:
        return None
    
    #it will convert data range in single value by taking its mean

In [20]:
data['total_sqft'] =data['total_sqft'].apply(convertRange)

In [21]:
data.head()

        size  total_sqft  bath   price    site_location  bhk
0      2 BHK      1056.0   2.0   39.07      Alandi Road    2
1  4 Bedroom      2600.0   5.0  120.00  Ambegaon Budruk    4
2      3 BHK      1440.0   2.0   62.00       Anandnagar    3
3      3 BHK      1521.0   3.0   95.00            Aundh    3
4      2 BHK      1200.0   2.0   51.00       Aundh Road    2

In [22]:
data['price_per_sqft'] = data['price']*100000 / data['total_sqft'] #in lakhs

In [23]:
data['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13320, dtype: float64

In [24]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [25]:
(data['total_sqft']/data['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [26]:
data = data[((data['total_sqft'])>=300)]

In [27]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13263.000000  13263.000000  13263.000000  13263.000000    13263.000000
mean    1560.824680      2.687401    112.484801      2.801779     6689.068527
std     1238.214449      1.335737    149.116733      1.290894     4554.250945
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1100.000000      2.000000     50.000000      2.000000     4266.666667
50%     1277.000000      2.000000     72.000000      3.000000     5429.864253
75%     1680.000000      3.000000    120.000000      3.000000     7305.432002
max    52272.000000     40.000000   3600.000000     43.000000   176470.588235

In [28]:
data.shape

(13263, 7)

In [29]:
data.price_per_sqft.describe()

count     13263.000000
mean       6689.068527
std        4554.250945
min         267.829813
25%        4266.666667
50%        5429.864253
75%        7305.432002
max      176470.588235
Name: price_per_sqft, dtype: float64

In [30]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()
    for key,subdf in df.groupby('site_location'):
        m= np.mean(subdf.price_per_sqft)
        
        st = np.std(subdf.price_per_sqft)
        
        gen_df = subdf[(subdf.price_per_sqft > (m-st)) & (subdf.price_per_sqft <= (m+st))]
        df_output = pd.concat([df_output,gen_df] , ignore_index = True)
    return df_output
data = remove_outliers_sqft(data)
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  11514.000000  11514.000000  11514.000000  11514.000000    11514.000000
mean    1490.217985      2.515373     86.239418      2.632274     5531.493086
std      857.340119      1.062201     69.384551      1.007013     1820.976837
min      300.000000      1.000000      9.000000      1.000000     1379.310345
25%     1100.000000      2.000000     48.107500      2.000000     4200.000000
50%     1272.000000      2.000000     66.490000      2.000000     5183.169954
75%     1630.750000      3.000000    100.000000      3.000000     6516.290727
max    30400.000000     16.000000   2100.000000     16.000000    19444.444444

In [31]:
def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    for site_location,site_location_df in df.groupby('site_location'):
        bhk_stats = {}
        for bhk,bhk_df in site_location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk,bhk_df in site_location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
        return df.drop(exclude_indices,axis='index')

In [32]:
data =bhk_outlier_remover(data)

In [33]:
data.shape

(11499, 7)

In [34]:
data.drop(columns = ['size','price_per_sqft'],inplace=True)

In [35]:
data.to_csv("Cleaned_data.csv")

In [36]:
X=data.drop(columns=['price'])
y=data['price']

In [37]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [38]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.2,random_state = 0)

In [39]:
print(X_train.shape)
print(X_test.shape)

(9199, 4)
(2300, 4)

In [40]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False),['site_location']),remainder='passthrough')

In [41]:
scaler = StandardScaler()

In [42]:
lr = LinearRegression(normalize = True)

In [43]:
pipe = make_pipeline(column_trans,scaler,lr)

In [44]:
pipe.fit(X_train,y_train)

d:\land_price_prediction\venv\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['site_location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [45]:
y_pred_lr = pipe.predict(X_test)

In [46]:
r2_score(y_test,y_pred_lr)

0.778365068910772

In [47]:
lasso = Lasso()

In [48]:
pipe = make_pipeline(column_trans,scaler,lasso)

In [49]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['site_location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [50]:
y_pred_lasso = pipe.predict(X_test)

In [51]:
r2_score(y_test,y_pred_lasso)

0.774068051769483

In [52]:
ridge = Ridge()

In [53]:
pipe = make_pipeline(column_trans,scaler,ridge)

In [54]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['site_location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [55]:
import pickle

In [56]:
pickle.dump(pipe,open('RidgeModel.pkl','wb'))

In [60]:
data.shape

(11499, 5)